@charset "utf-8";
html,body,div,img,ul,li{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
html,body{
    width:100%;
    height:100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background:#000;

}
.box{
    position:relative;
    width:600px;
    height:350px;
    overflow:hidden;
    border-radius:10px;
}
.show{
    width:4200px;
    height:350px;
    font-size:0;
    position:absolute;
    left:0;
    top:0;
}
.show img{
    width:600px;
    height:350px;
}
.tag{
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left:-75px;
}
.tag li{
    margin-left:10px;
    float:left;
    width:20px;
    height:20px;
    border-radius:50%;
    font-size:16px;
    line-height:20px;
    text-align:center;
    background:rgba(0,0,0,0.2);
    color:#fff;
    cursor:pointer;
}
.tag .checked{
    background:#000;
    opacity:1;
}
.btn{
    position:absolute;
    top:50%;
    margin-top:-20px;
    width:32px;
    height:40px;
    display:none;
    cursor:pointer;
}
.btn1{
    left:10px;
}
.btn2{
    right:10px;
}